<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="form-container">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="*************">
            <button type="submit" value="Login">Login</button>
            <% if (errorMessage) { %>
                <p class="errorMessage"><%= errorMessage %></p>
            <% } %>
            
        </form>
        <a href="/register">Register</a>
        
    </div>
    
</body>
</html>